<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 >pay on upi id : Laeeqa222@okicici</h1>
    <table width="100%" border="0">
        <tr>    
        <td><img src="../static/productImages/31158_vanilla-cake.jpeg" alt="" align="left" /></td>
        <td><img src="../static/productImages/BlackForest.jpeg" alt="" align="center" /></td>
        <td><img src="../static/productImages/chocolate.jpeg" alt="" align="right"/></td>
        </tr>
      </table>
</body>
</html>